@model PasskeyAuthentication.Models.Auth.LoginModel
@using (Html.BeginForm())
{
    <div>
        <input asp-for="Username" class="form-control" placeholder="username"/>
        <input asp-for="Password" type="password" class="form-control" placeholder="password"/>
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
    <div>
        <button type="button" class="btn btn-primary">Login with Passkey</button>
    </div>
}
